.display {
    background-color: #222;
    border-radius: 3%;
    color: rgb(255,255,255);
    padding: 10px;
    margin-bottom: 10px;
    height: 64px;
    display: grid;
    grid-template-rows: 21.3333333px 42.6666667px;
    font-weight: 600;
}


.current-operand-display {
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.previous-display {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 16px;
}